        body {
        background-color: #F7F6F2;
        }

        h1 {
        color: #A6CF98;
        }

        h3 {
        color: #9AD0EC;
        }

        hr {
        border-style: none;
        border-top-style: dotted;
        border-color: #E3BEC6;
        border-width: 7px;

        }

        img {
        height : 400px;
        }
